// Bitcoin
@col-bt: #F2911B;
@col-bt-h: lighten(@col-bt, @lighten);
@col-bt-cs: darken(@col-bt, @darken);
@col-bt-bgs: lighten(@col-bt, @lighten_bg);

.shariff {
    .bitcoin {
        a {
            background-color: @col-bt;
			border: 1px solid @col-bt;
            &:hover {
                background-color: @col-bt-h;
				border-color: @col-bt-h;
			}
        }
        .fa-btc {
            font-size: 19px;
			&:before { content: @fa-var-btc; }
        }
    }
	.theme-color, .theme-white {
        .bitcoin .share_count {
            color: @col-bt-cs;
            background-color: @col-bt-bgs;
        }
	}
   .theme-white, .theme-circle-white {
        .bitcoin a span {
            color: @col-bt !important;
        }
    }
	.theme-grey, .theme-circle-grey {
		.bitcoin a:hover {
			background-color: @col-bt;
			border-color: @col-bt;
		}
	}
}