@service: '';  /* defined in gruntfile.js */

@services: '';

.shariff {
	.loop-service();
	.loop-service(@i: 1) when (@i <= length(@service)) {
		@name:		extract(extract(@service, @i),1);
		@col:		extract(extract(@service, @i),2); /* normal color */
		@col-h: 	extract(extract(@service, @i),3); /* highlighted */
		@col-cs: 	extract(extract(@service, @i),4); /* counter text */
		@col-bgs: 	extract(extract(@service, @i),5); /* counter background */
		@symbol: 	extract(extract(@service, @i),6); /* fontawesome variablen name */
		@size: 		extract(extract(@service, @i),7); /* font size of symbol */
		
		.@{name} {
			a {
				background-color: @col;
				border: 1px solid @col;
				&:hover, &:focus {
					background-color: @col-h;
					border-color: @col-h;
				}
			}
			.fa-@{symbol} {
				font-size: @size;
				&:before { 
					content: ~'"@{fa-var-@{symbol}}"';
				}
			}
		}
		.theme-color, .theme-white {
			.@{name} .share_count {
				color: @col-cs;
				background-color: @col-bgs;
			}
		}
		.theme-grey .@{name} a:hover .share_count, .theme-grey .@{name} a:focus .share_count {
			color: @col-cs;
			background-color: @col-bgs;
		}
		.theme-white, .theme-circle-white {
			.@{name} a span {
				color: @col !important;
			}
		}
		.theme-grey, .theme-circle-grey {
			.@{name} a:hover, .@{name} a:focus {
				background-color: @col;
				border-color: @col;
			}
		}
		.loop-service((@i + 1));
	}
}