.shariff {
    .facebooklike {
        .@{cssprefix}-facebook {
			@media (max-width: 550px) {
				&:before { content: ~'"@{facebooklike_symbol}"'; }
			}
        }
		.shariff-tooltip {
			iframe {
				height: 21px;
				width: 115px;
			}
		}
   }
   & when (@circle=true) {
		.theme-circle-color, .theme-circle-white, .theme-circle-grey {
			.facebooklike .@{cssprefix}-facebook:before {
				content: ~'"@{facebooklike_symbol}"';
			}
		}
   }
}