.shariff {
    .info {
        a {
            background-color: #fff;
			border: 1px solid #ccc;
            &:hover, &:focus {
                background-color: #efefef;
            }
			span {
				color: #666;
			}
        }
        .fa-info {
            font-size: 20px;
			&:before { content: @fa-var-info; }
        }
    }
    .theme-grey, .theme-circle-grey {
        .info a {
            &:hover, &:focus {
                background-color: #828282;
				border-color: #828282;
            }
        }
    }
	.theme-grey {
		.info a span {
			color: #fff;
		}

	}

}

