.shariff {
	.loop-col(@services);
	.loop-col(@n, @i: 1) when (@i <= @n) {
		@j: (@i+1);
		.more-@{i} li {
			width: (100% / @i);
		}
		.loop-col(@n, (@i + 1));
	}

    .more {
        .@{cssprefix}-minus {
            font-size: 16px;
			&:before { content: ~'"@{more_symbol}"'; }
        }
    }
}

