.shariff {
    .print {
        a {
            background-color: #fff;
            &:hover {
                background-color: #efefef;
            }
			div {
				border: 1px solid #ccc;
				span {
					color: #666;
				}
			}
        }
        .fa-print {
            font-size: 18px;
			&:before { content: @fa-var-print; }
        }
/*		&:not(.orientation-vertical) {
			float: right;
		}*/
    }
    .theme-grey {
        .info a {
            background-color: #fff;
            &:hover {
                background-color: #efefef;
            }
        }
    }

}

