@col-re: #FF4500;
@col-re-h: lighten(@col-re, @lighten);
@col-re-cs: darken(@col-re, @darken);
@col-re-bgs: lighten(@col-re, @lighten_bg);

.shariff {
    .reddit {
        a {
            background-color: @col-re;
			border: 1px solid @col-re;
            &:hover {
                background-color: @col-re-h;
				border-color: @col-re-h;
			}
        }
        .fa-reddit {
            font-size: 19px;
			&:before { content: @fa-var-reddit; }
        }
    }
	.theme-color, .theme-white {
        .reddit .share_count {
            color: @col-re-cs;
            background-color: @col-re-bgs;
        }
	}
    .theme-white, .theme-circle-white {
        .reddit a span {
            color: @col-re !important;
        }
    }
	.theme-grey, .theme-circle-grey {
		.reddit a:hover {
			background-color: @col-re;
			border-color: @col-re;
		}
	}
}