// Tumblr
@col-tr: #34526f;
@col-tr-h: lighten(@col-tr, @lighten);
@col-tr-cs: darken(@col-tr, @darken);
@col-tr-bgs: lighten(@col-tr, @lighten_bg);

.shariff {
    .tumblr {
        a {
            background-color: @col-tr;
			border: 1px solid @col-tr;
            &:hover {
                background-color: @col-tr-h;
				border-color: @col-tr-h;
			}
        }
        .fa-tumblr {
            font-size: 19px;
			&:before { content: @fa-var-tumblr; }
        }
    }
	.theme-color, .theme-white {
        .tumblr .share_count {
            color: @col-tr-cs;
            background-color: @col-tr-bgs;
        }
	}
	.theme-grey .tumblr a:hover .share_count {
		color: @col-tr-cs;
		background-color: @col-tr-bgs;
	}
    .theme-white, .theme-circle-white {
        .tumblr a span {
            color: @col-tr !important;
        }
    }
	.theme-grey, .theme-circle-grey {
		.tumblr a:hover {
			background-color: @col-tr;
			border-color: @col-tr;
		}
	}
}