// Mail
@col-ma: #999;
@col-ma-h: lighten(@col-ma, @lighten);

.shariff {
    .mail {
        a {
            background-color: @col-ma;
			border: 1px solid @col-ma;
            &:hover {
                background-color: @col-ma-h;
				border-color: @col-ma-h;
			}
        }
        .fa-envelope {
            font-size: 18px;
			&:before { content: @fa-var-envelope; }
        }
    }
    .theme-white, .theme-circle-white {
        .mail a span {
            color: @col-ma !important;
        }
    }
	.theme-grey, .theme-circle-grey {
		.mail a:hover {
			background-color: @col-ma;
			border-color: @col-ma;
		}
	}
}